@page
@model IndexModel
@{
    ViewData["Title"] = "Choose your own adventure...";
}

<div class="text-center">
    <h1 class="display-4"id="titleLabel"></h1>
    <p id="statusLabel">Voting has not opened yet. Please come back later.</p>
    <button id="option1Button" class="btn-lg btn-primary"></button>
    <button id="option2Button" class="btn-lg btn-primary"></button>
</div>

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>

    <script src="~/js/votingClient.js"></script>
}