@page
@model IndexModel
@{
    ViewData["Title"] = "Choose your own adventure...";
}

<div class="text-center">
    <h1 class="display-4">@Model.Question</h1>
    <p id="statusLabel">Vote below!</p>
    <button id="option1Button" class="btn-lg btn-primary">@Model.Option1</button>
    <button id="option2Button" class="btn-lg btn-primary">@Model.Option2</button>
</div>

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>

    <script src="~/js/votingClient.js"></script>
}